<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户服务协议</title>
    <link th:href="@{/static/bootstrap-4.1.3/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!--<script type="text/javascript" th:src="@{/static/bootstrap-4.1.3/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/bootstrap-4.1.3/js/bootstrap.min.js}"></script>-->
</head>
<body>
<div class="container-fluid">
    <div id="container" class="w-75 mx-auto" style="height: 630px">

        <div id="header" class="align-items-center bg-light h-25 border border-success rounded">
            <h3 class="text-center text-primary" style="margin-top: 5%;">用户服务协议</h3>
        </div>

        <div id="content" class="bg-light border border-success rounded w-100 h-75">
            <h5 class="text-center text-danger text-justify" style="margin-top: 5%;">协议内容</h5>
            <ul>
                <li>
                    用户协议一
                    <ul>
                        <li>xxx</li>
                    </ul>
                </li>
                <li>用户协议二</li>
                <li>用户协议三</li>
                <li>用户协议四</li>
                <li>用户协议五</li>
                <li>用户协议六</li>
                <li>用户协议七</li>
            </ul>
        </div>

        <div id="footer" class="bg-light border border-success rounded h-25">
            <h6 class="text-center text-secondary" style="margin-top: 6%;">版权 © www.bigproject.com</h6>
        </div>

    </div>
</div>
</body>
</html>